img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Center the image */
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: white !important;
}

.name {
    background-color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    /* background-color: #555; */
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); */
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: left;
    position: relative;
}

header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 5px 0 0;
    font-size: 1.2em;
    color: #bbb;
}

section {
    padding: 40px 0;
}

h2 {
    color: #fff;
    font-size: 2.5em;
}

.project, .certificate {
    margin-bottom: 20px;
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.project h3 {
    color: #fff;
}

.project p {
    color: #bbb;
}

div.projects {
    overflow: auto !important;
}

div.projects div.project {
    width: 26%; 
    float: left; 
    margin: 1% ; 
}


div.certificates div.certificate {
    width: 26%; 
    float: left; 
    margin: 1% ; 
}

div.certificatess {
    overflow: auto !important;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    /* bottom: 0; */
    width: 100%;
    margin-top: 1%;
}

.tabs {
    margin-bottom: 20px;
}

.tab-button {
    background-color: #3498db;
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.projects-content {
    margin-top: 10px;
}

.link {
    color: #fff;
    text-decoration: none;
}

/* @media (max-width: 768px) {
    .container {
        width: 90%; 
    }

    header img {
        right: 5%; 
    }

    div.projects div.project {
        width: 100%; 
        float: left; 
        margin: 1% 0; 
    }
} */

/* .projects-content {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.projects-content.fade-in {
    opacity: 1;
} */

div.certificate{
    text-align: left !important;
}

.img{
    justify-content: center;
    align-items: center;
    display:flex;
    /* padding-top:20%; */
}

img{
    transition: transform .2s;
    width:50%;
    height:50%;
    margin:0 auto;
    background-color: rgb(173, 173, 237);
    border-radius: 10px;
    border: 1px solid black;
}

img:hover{
    transform:scale(1.5);
}

.card {
    text-align: center;
    /* padding: 20px; */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,2);
    width: 85%;
    height: 30%;
    margin: 0 auto;
    margin-top: 3%;
    background-color: #121212;
    border-radius: 8px;
    /* z-index: 1; */
    align-items: center;
}

.tools {
    display: flex;
    align-items: center;
    padding: 9px;
}

.circle {
    padding: 0 4px;
}

.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}

.red {
    background-color: #ff605c;
}

.yellow {
    background-color: #ffbd44;
}

.green {
    background-color: #00ca4e;
}
/* .link{
    color: #ffc645 !important;
    text-decoration: none !important;
} */

#html{
    margin-left: 5%;
}
